html
{
    height: 100%;
}
header {
    text-align: center;
    font-size: 36px;
    font-family: Impact,fantasy;
    font-weight: 300;
    color: white;
    background-color: silver;
    width: 100%;
    position: fixed;
}
main 
{
    text-align: left;
    width: 88%;
    float: right;
    height: 100%;
    background-color: white;
    margin-top: 39px;
}
aside 
{
    text-align: center;
    word-wrap: break-word;
    width: 12%;
    float: left;
    background-color: whitesmoke;
    height: 100%;
    margin-top: 39px;
}
body 
{
    background-color: white;
    margin:0;
    height: 100%;
}
table, th, td 
{
    border: 1px solid black;
    margin-top: 5px; 
    text-align: center;
    word-wrap: break-word;
    max-width:90px;
}
label 
{
    color: black;
    margin: 2px;
    font-size: 12px;
}
.ui-datepicker-calendar 
{
    display: none;
}
.asideLink
{
    color:dimgrey;
    margin:2px;
    font-size:18px;
}
.red_label
{
    color:red;
}

