html{
    height: 100%;
}

header {
    text-align: center;
    font-style: oblique;
    font-size: 24px;
    color: blue;
    font-weight: 500;
    background-color: silver;
    width: 100%;
    font-weight: 200;
    position: fixed;
}

main {
    text-align: left;
    width: 88%;
    float: right;
    height: 100%;
    background-color: white;
    margin-top: 27px;
}

aside {
    text-align: center;
    word-wrap: break-word;
    width: 12%;
    float: left;
    background-color: whitesmoke;
    height: 100%;
    margin-top: 27px;
}

body {
    background-color: white;
    margin:0;
    height: 100%;
}

table, th, td {
    border: 1px solid black;
    margin-top: 5px; 
    text-align: center;
    word-wrap: break-word;
    max-width:90px;
}
label {
    color: black;
    margin: 2px;
    font-size: 12px;
}
.blue_label {
    color: darkblue;
    margin: 2px;
    font-size: 12px;
}
.red_label {
    color: red;
    margin: 2px;
    font-size: 12px;
}
.ui-datepicker-calendar {
    display: none;
}

